.Heading
  font-size: 2rem

.TripHeading
  border-bottom: 1px solid $blue
  .TripHeading-title,
  .TripHeading-extra
    display: inline-block
    vertical-align: bottom

  .TripHeading-title
    font-size: 1.5rem
    color: $blue
    width: 70%
  .TripHeading-extra
    color: black
    width: 30%
    text-align: right
