<template name="nav">
  <div class="Navigation">
    <div id="navigation-previous" class="Navigation-item">
      {{#if previous}}
      <a href="{{previous.route}}">
        <i class="Icon{{previous.icon}}"></i>
      </a>
      {{/if}}
    </div>
    <div class="Navigation-item">
      <a href="{{pathFor 'lab'}}">
        <i class="ImageLogoText"></i>
      </a>
    </div>
    <div id="navigation-next" class="Navigation-item">
      {{#if next}}
      <a href="{{next.route}}">
        <i class="Icon{{next.icon}}"></i>
      </a>
      {{/if}}
    </div>
  </div>
</template>
