*, *:before, *:after
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  vertical-align: top
  padding: 0
  margin: 0
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  -webkit-font-smoothing: antialiased

*:focus
  outline: 0

input
  border-radius: 0

button
  border: none
  background-color: transparent

html, body
  -wbkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
