$icon-size: 60px
$icon-font-size: 36px

@mixin FontAwesomeBase($content)
  font-size: $icon-font-size
  height: $icon-size
  line-height: $icon-font-size
  position: relative
  width: $icon-size
  &:before
    content: $content
    font-family: FontAwesome
    font-style: normal
    font-weight: normal
    text-decoration: inherit
  &.is-success
    color: $green


@mixin IconBase($image, $size: $icon-size)
  display: inline-block
  background-size: contain
  background-repeat: no-repeat
  background-image: url($image)
  background-position: center
  width: $size
  height: $size

.IconAdd
  //+IconBase('img/icon-add.png')
  +FontAwesomeBase("\f067")
.IconBack
  +IconBase('img/icon-back.png')

.IconClose
  +FontAwesomeBase("\f00d")

.IconAddExpense
  .background
    fill: $green
  .image
    fill: $white
  &:active
    .background
      fill: darken($green, 10%)

.IconReport, .IconFriends
  .image
    fill: $blue
  .border
    stroke: $blue
    stroke-width: 2
  &:active
    .image
      fill: darken($blue, 10%)
    .border
      stroke: darken($blue, 10%)
