<template name="iconCheck">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="62" height="64" viewBox="0 0 62 64" version="1">
    <title>Check</title>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <circle fill="#2CD396" cx="31" cy="32" r="30"/>
      <path d="M17 42L37 23 45 32" stroke="#FFFFFF" stroke-width="2" transform="translate(31.000000, 32.355469) rotate(-180.000000) translate(-31.000000, -32.355469) "/>
    </g>
  </svg>
</template>
