<template name="iconAddExpense">
<svg class="IconAddExpense" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="106px" height="106px" viewBox="0 0 106 106" version="1.1">
  <title>
    Add Expense
  </title>
  <g fill="none">
    <ellipse class="background" cx="53" cy="53.38" rx="50" ry="50"/>
    <path class="image" d="M51.6 56.48L33.4 56.48 33.4 50.28 51.6 50.28 51.6 30.78 58.1 30.78 58.1 50.28 76.3 50.28 76.3 56.48 58.1 56.48 58.1 75.98 51.6 75.98 51.6 56.48Z"/>
  </g>
</svg>
</template>
