<template name="iconFriends">
<svg class="IconFriends" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="62px" height="64px" viewBox="0 0 62 64" version="1.1">
  <title>
    Friends
  </title>
  <defs>
    <circle id="path-1" cx="31" cy="32" r="30"/>
  </defs>
  <g id="Design-Elements" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="Oval-22">
      <use class="border" xlink:href="#path-1"/>
      <use stroke="none" xlink:href="#path-1"/>
    </g>
    <path d="M31.5 32C26.25 32 21 36 21 36L19 44C19 44 24.3012141 48 31.5351563 48 38.7690984 48 44 44 44 44L42 36C42 36 36.75 32 31.5 32Z" class="image"/>
    <circle class="image" cx="32" cy="23" r="8"/>
  </g>
</svg>
</template>
