<template name="tripHeader">
    <div class="TripHeader">
        <h1 class="TripHeader-title">{{> UI.contentBlock}}</h1>
        <div class="TripHeader-extra">
            <div class="TripHeader-label">Budget</div>
            <div>
                <div class="TripHeader-price">
                    {{total}} €
                    /
                </div>
                <div class="TripHeader-price is-current">
                    {{current}} €
                </div>
            </div>
        </div>
        <div class="TripHeader-progressBar">
            {{> progressBar percentage=percentage }}
        </div>
    </div>
</template>
