.LabPage
  .LabPage-title
    margin-bottom: 20px
  .Section
    margin-bottom: 40px
    .Section-title
      color: $black
      font-size: 1.5rem
      font-weight: bolder
      margin-bottom: 10px
