$black: #1C4E56
$blue: #2CBFD3
$white: white
$light-blue: #A8D7E1

$background-color: $white

$font-color: $black
$font-size: 11px

$space: $font-size

html, body
  font-size: $font-size
  font-color: $font-color
