<template name="radioButton">
  <div class="RadioButton">
    <input type="radio" name="{{../name}}" class="RadioButton-input" id="{{value}}" value="{{value}}">
    <label for="{{value}}" class="RadioButton-label ">
      <div class="RadioButton-labelInside">
        <div>{{description}}</div>
        {{#if image}}
          <img class="RadioButton-image" src="{{image}}">
        {{else}}
          {{#if class}}
            <div class="RadioButton-image {{class}}"></div>
          {{/if}}
        {{/if}}
      </div>
    </label>
  </div>
</template>
