.Navigation
  $vertical-space: $space
  $inner-height: $navigation-height - $vertical-space

  width: 100%
  height: $navigation-height
  background: $navigation-background
  color: $navigation-color

  display: flex
  justify-content: space-between
  align-items: center

  // needed to stay above animation
  z-index: 102 

  .Navigation-item
    width: 30%
    padding: 0 $space

  .Navigation-item:first-child
    text-align: left

  .Navigation-item:last-child
    text-align: right

  [class^=Icon], [class^=Image]
    height: $inner-height

  a, .Navigation-item
    cursor: pointer
