$navigation-height: 50px
$navigation-background: $blue
$navigation-color: $white

.Navigation
  $inner-height: $navigation-height - $space

  +display(flex)
  +flex-wrap(nowrap)
  +align-items(center)
  +justify-content(space-between)

  width: 100%
  height: $navigation-height
  background: $navigation-background
  color: $navigation-color
  // needed to stay above animation
  z-index: 102 

  .Navigation-item
    padding: 0 $space
    max-height: 100%

  [class^=Icon], [class^=Image]
    max-height: $inner-height

  a
    cursor: pointer
