<template name="lab">
  <h1>Tripl.it Lab</h1>

  <div class="Form">
    <input type="text" class="TextInput" placeholder="Input of type text">

    <div class="Grid">
      <div class="Column--70 Column">
        <input type="text" class="TextInput" placeholder="Input of type text">
      </div>
      <div class="Column Column--30">
        {{> dropdownInput list=currencies selected=selectedCurrency}}
      </div>
    </div>
    {{> checkbox id="checkbox"}}
    {{> radioGroup radioGroupData}}
  </div>

  {{#headingAlpha current="300" total="500"}}Rubyconf PT{{/headingAlpha}}
</template>
