<template name="lab">
  <section class="LabPage">
    <div class="Section">
      <div class="Section-title">Text and number inputs</div>

      <div class="Form">
        <input type="text" class="TextInput" placeholder="Input of type text">

        <div class="Grid">
          <div class="Column--70 Column">
            <input type="text" class="TextInput" placeholder="Input of type text">
          </div>
          <div class="Column Column--30">
            {{> dropdownInput list=currencies selected=selectedCurrency}}
          </div>
        </div>
      </div>
    </div>

    <div class="Section">
      <div class="Section-title">Checkbox</div>
      {{> checkbox name="checkbox"}}
      {{> checkbox name="checkbox2"}}
      {{> checkbox name="checkbox3"}}
    </div>

    <div class="Section">
      <div class="Section-title">Radio Groups</div>
      {{> radioGroup name="random" list=categories}}
    </div>

    <div class="Section">
      <div class="Section-title">Trip Header</div>
      {{#tripHeader current="300" total="500"}}Rubyconf PT{{/tripHeader}}
    </div>

    <div class="Section">
      <div class="Section-title">Page Header</div>
      <h1 class="PageHeader">Rubyconf PT</h1>
    </div>

    <div class="Section">
      <div class="Section-title">Navigation</div>
      {{> nav}}
    </div>

    <div class="Section">
      <div class="Section-title">Action Bar</div>
      {{> actionBar actionAttributes}}
    </div>

    <div class="Section">
      <div class="Section-title">Box list</div>
      {{#boxList}}
        {{> box description="Rubyconf PT"}}
        {{> box description="CSS CONF"}}
      {{/boxList}}
    </div>

    <div class="Section">
      <div class="Section-title">Timeline</div>
      {{#boxList timeline="true"}}
        {{> box description="Rubyconf PT" icon="IconDrinks" extra="10"}}
        {{> box description="Rubyconf PT" icon="IconFood" extra="10"}}
      {{/boxList}}
    </div>
  </section>
</template>
