<template name='signIn'>
  <div class="SignInPage">
    <div class="SignInPage-inside">
      <p>{{i18n 'signIn.title'}}</p>
      <form class="SignInPage-form">
        <input id='email' type='email' name='email' placeholder={{i18n 'signIn.emailPlaceholder'}} class='TextInput'>
        <input id='password' type='password' name='password' placeholder={{i18n 'signIn.passwordPlaceholder'}} class='TextInput'>
        <input type='submit'>
      </form>

      <a href="{{pathFor 'sign.up'}}">Sign Up</a>
    </div>
  </div>
</template>
