<template name="budgetNew">
  {{#headingAlpha}}Define dudget &amp; currency{{/headingAlpha}}
  <p>Specify your personal budget and the currency</p>
  <form>
    <div class="TextInput TextInput--dropdown">
      <input id="budget_amount" type="number" name="amount" placeholder="Amount you plan to spend" class="TextInput-input">
      <select class="TextInput-dropdown">
        <option value="EUR">€ Euros</option>
        <option value="$US">$ US Dollars</option>
        <option value="GBP">£ Pound Sterling</option>
      </select>
    </div>
    <input type="submit" class="u-displayNone">
  </form>
</template>
