<template name="expensesNew">
  <div class="Layout">
    {{#layoutHeader}}
    {{> navigation navigationAttributes}}
    <div class="PageHeader">{{i18n 'expenses.new.title' }}</div>
    {{/layoutHeader}}

    {{#layoutContent}}
    <form class="Page">
      {{> radioGroup name="expense_category" list=categories}}

      <div class="Grid">
        <div class="Column--70 Column">
          <input id="expense_value" type="number" name="expense_value" placeholder="30" class="TextInput">
        </div>
        <div class="Column Column--30">
          {{> userDropdown usersAttributes }}
        </div>
      </div>

      <input type="submit" class="u-displayNone">
    </form>
    {{/layoutContent}}
  </div>
</template>
