<template name="tripsBudget">
  <div class="Layout">
    {{#layoutHeader}}
      {{> navigation navigationAttributes}}
      <div class="PageHeader">{{name}}</div>
    {{/layoutHeader}}

    {{#layoutContent}}
      <form class="Page">
        <div class="Grid">
          <div class="Column--70 Column">
            <input class="TextInput" value="{{ amount }}" {{ inputAttributes }}>
          </div>
          <div class="Column Column--30">
            {{> dropdown currencyAttributes }}
          </div>
        </div>

        <input type="submit" class="u-displayNone">
      </form>
    {{/layoutContent}}
  </div>
</template>
