<template name="tripsIndex">
  {{#if empty}}
    <div class="Layout ImageBackground">
      <a href="#" id="new_trip" class="ButtonCircle u-alignMiddle">Create first trip</a>
    </div>
  {{else}}
    <div class="Layout">
      {{#layoutHeader}}
        {{> navigation navigationAttributes}}
        <div class="PageHeader">{{name}}</div>
      {{/layoutHeader}}

      {{#layoutContent}}
        <div class="Page">
          {{#boxList}}
            {{#each trips}}
              {{> boxTrip id=_id description=name path=path }}
            {{/each}}
          {{/boxList}}
        </div>
      {{/layoutContent}}
    </div>
  {{/if}}
</template>
