<template name="budgetNew">
  {{#headingAlpha}} {{i18n 'trips.budget.new.heading'}} {{/headingAlpha}}
  <p>{{i18n 'trips.budget.new.descripton'}}</p>
  <form>
    <div class="TextInput TextInput--dropdown">
      <input id="budget_amount" type="number" name="amount" placeholder={{i18n 'trips.budget.new.amountPlaceholder'}} class="TextInput-input">
      <select id="budget_currency" name="currency" class="TextInput-dropdown">
        <option value="EUR">€ Euros</option>
        <option value="$US">$ US Dollars</option>
        <option value="GBP">£ Pound Sterling</option>
      </select>
    </div>

    <input type="submit" class="u-displayNone">
  </form>
</template>
