.u-makeHeader
  position: absolute
  top: 0
  
  left: 0
  width: 100%

  .PageHeader
    margin: 0 $window-space

.u-makeContent
  position: absolute
  top: $navigation-height
  left: 0
  width: 100%
  height: calc(100% - #{$navigation-height})
  overflow: scroll
  -webkit-overflow-scrolling: touch

.Layout .u-makeContent
  top: $navigation-height + $page-header-height
  height: calc(100% - #{$navigation-height + $page-header-height})

.TripLayout .u-makeContent
  top: $navigation-height + $trip-header-height
  height: calc(100% - #{$navigation-height + $trip-header-height})
