@import variables

.Box
  display: block
  position: relative

  .Box-inside
    +white-space-fix
    background: $box-background
    border-radius: 20px
    color: $box-color
    height: $box-height
    line-height: $box-height
    overflow: hidden
    padding: 0 $box-padding
    position: relative
    width: 100%
    -webkit-mask-image: -webkit-radial-gradient(circle, white, black)

  .Box-description
    width: 100%
    display: inline-block

  .Box-menu
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

  .Box-options
    height: 100%
    width: 100%
    position: absolute
    height: 100%
    top: 0
    left: 100%
    z-index: 1

.Box-options
  background: red
  color: white

.Box.Box--alt
  background: $box-alt-background
  color: $box-alt-color

.Box.Box--image
  .Box-image
    transform: translateY(-50%)
    position: absolute
    top: 50%

  .Box-description
    width: calc(100% - #{$box-picture-size + $space})
    margin-left: $space + $box-picture-size
    display: inline-block

.Box.Box--image.Box--extra
  .Box-extra
    display: inline-block

  .Box-description
    width: calc(100% - #{$box-picture-size + $box-extra-size + $space})

.Box-extra
  width: $box-extra-size

.Box-image
  background: red
  border-radius: 50%
  height: $box-picture-size
  width: $box-picture-size
