.DropdownInput
  position: relative
  background: black
  color: white

  .DropdownInput-dropdown
    color: black
    width: 100%
    position: absolute
    top: 100%
    left: 0
    display: none
    list-style-type: none

  &:hover, &.is-open
    .DropdownInput-dropdown
      display: block
