=style-placeholder
  font-weight: 300
  font-style: italic
  color: $light-blue

$placeholder-selectors: ':-webkit-input-placeholder' '-moz-placeholder' ':-moz-placeholder' '-ms-input-placeholder' 
input
  border: none
  @each $selector in $placeholder-selectors
    &:#{$selector}
      +style-placeholder
