@import variables

.TextInputSelect
  +white-space-fix
  border: $input-border
  height: $input-height

  .TextInputSelect-input,
  .DropdownInput
    height: 100%
    line-height: $input-height - $input-border-size * 2

  .TextInputSelect-input
    padding: 0 $input-space
    font-size: 1rem
    display: inline-block
    width: 70%

  .DropdownInput
    position: relative
    display: inline-block
    width: 30%
