<template name="dropdownInput">
  <div class="DropdownInput">
    <div class="DropdownInput-selected">{{selected.description}}</div>
    {{#if isPhone}}
      {{> dropdownInputMobile}}
    {{else}}
      {{> dropdownInputDesktop}}
    {{/if}}
  </div>
</template>

<template name="dropdownInputMobile">
  <select class="u-displayNone">
    {{#each list}}
      <option value="{{value}}">{{description}}</option>
    {{/each}}
  </select>
</template>

<template name="dropdownInputDesktop">
  <ul class="DropdownInput-dropdown">
    {{#each list}}
      <li data-value="{{value}}" class="DropdownInput-option">
        {{description}}
      </li>
    {{/each}}
  </ul>
  <select class="u-displayNone">
    {{#each list}}
      <option value="{{value}}">{{description}}</option>
    {{/each}}
  </select>
</template>
