<template name="inputSelect">
  <div class="TextInputSelect">
    <input type="text" placeholder="Many" class="TextInputSelect-input">
    <div class="DropdownInput">
      <div class="DropdownInput-selected">Here</div>
      <ul class="DropdownInput-dropdown">
        <li data-value="trinta" class="TextInputSelect-option">
            Random 2
        </li>
        <li data-value="trinta" class="TextInputSelect-option">
            Random 2
        </li>
        <li data-value="trinta" class="TextInputSelect-option">
            Random
        </li>
      </ul>
    </div>
  </div>
</template>
