<template name="radioGroup">
  <div class="RadioGroup">
    <div class="RadioButton">
      <input type="radio" name="expenseType" class="RadioButton-item" id="snacks" value="snacks">
      <label for="snacks" class="RadioButton-label ">
        <div class="RadioButton-labelInside">
          <div>Snacks</div>
          <img src="/img/icon-add.png">
        </div>
      </label>
    </div>
    <div class="RadioButton">
      <input type="radio" name="expenseType" class="RadioButton-item" id="food" value="food">
      <label for="food" class="RadioButton-label ">
        <div class="RadioButton-labelInside">
          <div>Food</div>
          <img src="/img/icon-add.png">
        </div>
      </label>
    </div>
    <div class="RadioButton">
      <input type="radio" name="expenseType" class="RadioButton-item" id="drinks" value="drinks">
      <label for="drinks" class="RadioButton-label ">
        <div class="RadioButton-labelInside">
          <div>Drinks</div>
          <img src="/img/icon-add.png">
        </div>
      </label>
    </div>
    <div class="RadioButton">
      <input type="radio" name="expenseType" class="RadioButton-item" id="housing" value="housing">
      <label for="housing" class="RadioButton-label ">
        <div class="RadioButton-labelInside">
          <div>Housing</div>
          <img src="/img/icon-add.png">
        </div>
      </label>
    </div>
    <div class="RadioButton">
      <input type="radio" name="expenseType" class="RadioButton-item" id="gas" value="gas">
      <label for="gas" class="RadioButton-label ">
        <div class="RadioButton-labelInside">
          <div>Gas</div>
          <img src="/img/icon-add.png">
        </div>
      </label>
    </div>
    <div class="RadioButton">
      <input type="radio" name="expenseType" class="RadioButton-item" id="other" value="other">
      <label for="other" class="RadioButton-label ">
        <div class="RadioButton-labelInside">
          <div>Other</div>
          <img src="/img/icon-add.png">
        </div>
      </label>
    </div>
  </div>
</template>
