<div page-with-header class="ExpensesPage">
    <section ng-controller="ShowTripController">
        <div class="Page-header">
            <heading-alpha value="{{total}}">{{trip.name}}</heading-alpha>
        </div>
        <ul class="BoxList BoxList--timeline BoxList--withActionBar">
            <box-image-extra value="expense.value" name="expense.description" ng-repeat="expense in trip.expenses track by $index"></box-image-extra>
            <box-image class="Box--alt" name="startedDescription"></box-image>
        </ul>
    </section>
</div>

<section class="ActionBar u-fixedBottom">
    <a class="IconFriends"></a>
    <a class="IconAddExpense" ng-click="next('trips.show.expenses.new', {id: $stateParams.id})"></a>
    <div class="IconReport"></div>
</section>
